name: EXAMPLE

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Imagem Docker'
        required: true

jobs:
  print-tag:
    runs-on: ubuntu-latest
    if: ${{ inputs.print_tags }} 
    steps:
      - name: Print the input tag to STDOUT
        run: echo  The tags are ${{ inputs.tags }} 