name: DAY 01 - Desafio 1

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Informe uma imagem de container para testar o workflow (ex: nginx:latest)'
        required: true
        type: string

jobs:
  Desafio_1:
    runs-on: ubuntu-latest
    steps:
      - name: Fazendo o pull da imagem informada
        run: docker pull ${{ inputs.tags }}

      - name: Listando as imagens locais
        run: docker images