name: DAY 01 - Desafio 1

on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'Informe uma imagem de container com tags separadas por dois pontos (:)'
        required: true
        type: string

jobs:
  print-tag:
    runs-on: ubuntu-latest
    if: ${{ inputs.print_tags }} 
    steps:
      - name: Fazendo o pull da imagem informada
        run: docker pull ${{ inputs.tags }}